<div class="C--card type--1">
    <div class="card__body">
        Basic usage...
    </div>
</div>

<!-- full item -->
<div class="C--card type--1">
    <figure>
        <img src="https://cdn.dribbble.com/users/1608300/screenshots/8025021/media/272ca4ea327b909aff48e72bf91a634b.png" alt="">
    </figure>
    <div class="card__body">
        <h3 class="card__title">Card title</h3>
        <span class="card__subtitle">Uncategorized</span>
        <p class="card__text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="button C--button type--1 -theme-primary">
            Edit Card
        </button>
    </div>
</div>