body {
    background-color: #f5f5f5;
}

.M--wrapper.type--1 {
    display: block;
    position: relative;
    @media (min-width: $screen-medium) {
        padding: 0 0 0 240px;
    }
    .M--navigation.type--1 {
        .navigation {
            @media (min-width: $screen-medium) {
                left: 240px;
                width: auto;
                background-color: #fff;
                box-shadow: none;
                @include border('bottom');
                .navigation__site-name {
                    color: $text-color;
                    a {
                        color: $text-color;
                    }
                }
                .navigation__button {
                    .material-icons {
                        color: $text-color;
                    }
                }
            }
            .container--fluid {
                padding: 0 16px;
                @media (min-width: $screen-small) {
                    padding: 0 24px;
                }
                @media (min-width: $screen-medium) {
                    padding: 0 40px;
                }
            }
            .U--table {
                .table__cell {
                    height: 53px;
                    &.cell--mobile {
                        @media (min-width: $screen-medium) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .wrapper__sidebar {
        .M--sidebar.type--1 {
            left: -240px;
            z-index: 52;
            @media (max-width: $screen-medium) {
                -webkit-transition: left .2s;
                transition: left .2s;
            }
            @media (min-width: $screen-medium) {
                left: 0;
            }
        }
        .sidebar__overlay {
            display: none;
            z-index: 51;
            background-color: rgba(0,0,0,.7);
        }
        &.-is-show {
            .M--sidebar.type--1 {
                left: 0;
            }
            .sidebar__overlay {
                display: block;
            }
        }
    }
    .main--content {
        .module--container {
            padding: 24px 0;
            @media (min-width: $screen-medium) {
                padding: 40px 0;
            }
        }
        .container--fluid {
            padding: 0 16px;
            @media (min-width: $screen-small) {
                padding: 0 24px;
            }
            @media (min-width: $screen-medium) {
                padding: 0 40px;
            }
        }
    }
}