<div class="C--legend type--1">
    <header class="legend__header">
        Legend Title
    </header>
    <div class="legend__body">
        <div class="legend__lists U--table">
            <div class="legend__item table__row">
                <div class="table__cell -auto-width">
                    <span class="item__bullet"></span>
                </div>
                <div class="table__cell">
                    <span class="item__label">
                        Legend label one.
                    </span>
                </div>
            </div>
            <div class="legend__item table__row">
                <div class="table__cell -auto-width">
                    <span class="item__bullet"></span>
                </div>
                <div class="table__cell">
                    <span class="item__label">
                        Legend label two.
                    </span>
                </div>
            </div>
            <div class="legend__item table__row">
                <div class="table__cell -auto-width">
                    <span class="item__bullet"></span>
                </div>
                <div class="table__cell">
                    <span class="item__label">
                        Legend label three.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>