<p>
    <button class="C--button type--1">
        Button
    </button>
    <a href="http://binus.ac.id" class="C--button type--1" target="_blank">
        Hyperlink Example
    </a>
</p>

<!-- fullwidth -->
<p>
    <button class="C--button type--1 -full-width">
        Button
    </button>
</p>

<!-- theme: primary -->
<p>
    <button class="C--button type--1 -theme-primary">
        Button
    </button>
    <a href="http://binus.ac.id" class="C--button type--1 -theme-primary" target="_blank">
        Hyperlink Example
    </a>
</p>
<p>
    <button class="C--button type--1 -theme-primary -full-width">
        Button
    </button>
</p>

<!-- theme: orange -->
<p>
    <button class="C--button type--1 -theme-orange">
        Button
    </button>
    <a href="http://binus.ac.id" class="C--button type--1 -theme-orange" target="_blank">
        Hyperlink Example
    </a>
</p>
<p>
    <button class="C--button type--1 -theme-orange -full-width">
        Button
    </button>
</p>

<!-- theme: white -->
<p>
    <button class="C--button type--1 -theme-white">
        Button
    </button>
    <a href="http://binus.ac.id" class="C--button type--1 -theme-white" target="_blank">
        Hyperlink Example
    </a>
</p>
<p>
    <button class="C--button type--1 -theme-white -full-width">
        Button
    </button>
</p>

<!-- loading state -->
<p>
    <button class="C--button type--1 -theme-primary -is-loading">
        Button
    </button>
</p>