<div class="C--table type--2">
    <table>
        <thead>
            <tr>
                <th width="64">No</th>
                <th>Name</th>
                <th width="80">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ander Herrera</td>
                <td>
                    <a href="#" class="C--button button-type--2 -theme-primary -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Radamel Falcao</td>
                <td>
                    <a href="#" class="C--button button-type--1 -theme-primary -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ander Herrera</td>
                <td>
                    <a href="#" class="C--button button-type--1 -theme-orange -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Radamel Falcao</td>
                <td>
                    <a href="#" class="C--button button-type--1 -size--small">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="C--table type--2 -layout--stripped">
    <table>
        <thead>
            <tr>
                <th width="64">No</th>
                <th>Name</th>
                <th width="80">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ander Herrera</td>
                <td>
                    <a href="#" class="C--button button-type--2 -theme-primary -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Radamel Falcao</td>
                <td>
                    <a href="#" class="C--button button-type--1 -theme-primary -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ander Herrera</td>
                <td>
                    <a href="#" class="C--button button-type--1 -theme-orange -size--small">Edit</a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Radamel Falcao</td>
                <td>
                    <a href="#" class="C--button button-type--1 -size--small">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>