.C--block-header.type--1 {
    display: block;
    position: relative;
    margin: 0 0 24px;
    .header__title {
        display: block;
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.3;
        @media (min-width: $screen-small) {
            font-size: 2.4rem;
        }
        @media (min-width: $screen-small) {
            font-size: 2.8rem;
            line-height: 1.25;
        }
        @media (min-width: $screen-medium) {
            font-size: 3.2rem;
            line-height: 1.2;
        }
    }
    .header__tagline {
        display: block;
        margin: 8px 0 0;
        font-size: 1.45rem;
        color: $text-color-secondary;
        line-height: 1.45;
        @media (min-width: $screen-small) {
            font-size: 1.55rem;
        }
    }

    /* max-width */
    &.-max-width {
        max-width: 560px;
    }
}